.header {
    &__wrapper {
        width: 100%;
        height: 120px;
        background-color: #fff;
        box-sizing: border-box;
    }
    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
    }
}

.nav {
    &__item--header {
        margin-right: 15px;
    }
    &__item--header:last-child {
        margin-right: 0;
    }
    &__link--header,
    &__button {
        @include font(Merriweather Sans, normal, 700, 14px, 1.5em, #000);
    }
    &__link {
        &--external {
            align-items: center;
        }
        &--external::after {
            width: 14px;
            height: 14px;
            margin-left: 5px;
            background-image: url(../assets/img/icons/link.png);
            background-size: 14px 14px;
            display: inline-flex;
            content: "";
        }
    }
    &__button--header {
        padding: 15px 0;
        position: relative;
        background-color: #fff;
    }
    &__button--header::after {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        background-image: url(../assets/img/icons/arrow-down.png);
        background-size: 10px 10px;
        display: inline-flex;
        content: "";
    }
    &__sub_list {
        max-width: 230px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 20px 0 20px -20px rgb(0, 0, 0, 0.15), -20px 0 20px -20px rgb(0, 0, 0, 0.15);
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        transition: .2s all;
        z-index: 1;
    }
    &__sub_item {
        margin: 15px 20px;
    }
    &__sub_item:nth-child(1) {
        margin-top: 20px;
    }
    &__sub_item:last-child {
        margin-bottom: 20px;
    }
    &__sub_link {
        @include font(Merriweather Sans, normal, 700, 14px, 1.3em, #44667c);
        text-decoration: none;
        transition: .2s all;
    }
    &__sub_link:hover {
        color: #d8770e;
    }
}